{% extends "index_financeiro.html" %}

{% load staticfiles %}

{% block title %}
	{% if is_detail %}
		Detalhes de Entrada Financeira - Pizza5
	{% else %}
		Remover Entrada Financeira - Pizza5
	{% endif %}
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/financeiro/entrada_delete.css" %}">
{% endblock %}

{% block content %}
	
	
	{% if not is_detail %}
		<h1>Remover Entrada</h1>
		<hr>
		<p>Tem certeza que deseja remover essa Entrada ?</p>
	{% else %}
		<h1>Detalhes de Entrada</h1>	
	{% endif %}
		
	<div class="object-box">
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Id</p>
				{{object.id}}
			</div>
			<div class="field">	
				<p class="field-label">Valor</p>
				{{object.valor}}
			</div>		
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Origem</p>
				{{object.origem}}
			</div>
			<div class="field">
				<p class="field-label">Data de Entrada</p>
				{{object.data_entrada}}
			</div>
		</div>
		<div class="field-line">
			<div class="field">
				<p class="field-label">Responsável</p>
				{{object.responsavel}}
			</div>	
			<div class="field">
				<p class="field-label">Forma de Pagamento</p>
				{{object.forma_pagamento}}
			</div>	
		</div>
		<div class="field-line">
			<div class="field single-child">
				<p class="field-label">Descrição</p>
				{{object.descricao}}
			</div>	
		</div>

	</div>	

	<br>

	{% if is_detail %}
		<a href="{% url 'entrada_list' %}" type="button" class="btn btn-lg btn-success">Voltar</a>
	{% else %}
		<form method="POST">
			{% csrf_token %}
			<input type="submit" value="Remover" class="btn btn-lg btn-danger">
		</form>
	{% endif %}


{% endblock %}