{% extends "index_estoque.html" %}

{% load staticfiles %}

{% block title %}
	Remover Ingrediente do Inventário - Pizza5
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/estoque/estoque_delete.css" %}">
{% endblock %}

{% block content %}
	
	<h1>Remover Ingrediente</h1>
	<hr>

	<p>Tem certeza que deseja remover esse Ingrediente do Inventário ?</p>

	<div class="object-box">
		<div class="field-line">
			<div class="field single-child">	
				<p class="field-label">Id</p>
				{{object.id}}
			</div>
				
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Nome</p>
				{{object.ingrediente.nome}}
			</div>
			<div class="field">	
				<p class="field-label">Marca</p>
				{{object.ingrediente.marca}}
			</div>		
		</div>
	</div>	

	<br>

	<form method="POST">
		{% csrf_token %}
		<input type="submit" value="Remover" class="btn btn-lg btn-danger">

	</form>


{% endblock %}