{% extends "base.html" %}
{% load extra_order %}
	{% block content %}
	<div class="row">
            <div class="col-md-12">
               <!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <h3 class="page-title">
                  Entregador <small>atualizar</small>
               </h3>
               <ul class="page-breadcrumb breadcrumb">
                  <li>
                     <i class="icon-home"></i>
                     <a href="/">Home</a> 
                     <i class="icon-angle-right"></i>
                  </li>
                  <li>
                     <a href="/entregadores">Entregadores</a>
                     <i class="icon-angle-right"></i>
                  </li>
                  <li><a href="#">Atualizar Posicao do Entregador</a></li>
               </ul>
               <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
         </div>
	<div class="tab-content">
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					Atualizar Posicao do Entregador
				</div>
			</div> 
				<div class="portlet-body form">
					<form method="POST" action="/entregadores/editar/{{deliver.id}}/" class="horizontal" >{%csrf_token%}
						<div class="form-body">
							{%for field in edit_deliver_form%}
								<div class="form-group">
									</br><!--:before-->
									<label class="col-md-3 control-label">
										{{field.label_tag}}
									</label>
									<div class="col-md-3">
										{{field|addcss:"form-control"}}
		                            </div>
		                        	</br>
		                            <!--:after-->
								</div>	
							{%endfor%}	
						</div>
						<div class="form-actions fluid">
                         	<div class="col-md-offset-3 col-md-9">
                             	<button type="submit" class="btn red">Atualizar</button>                              
                        	</div>
                        </div>
					</form>
				</div>
			</div>
		</div>
	{%endblock%}
