{% extends "base.html" %}

{% block content %}
	<div class="row">
	    <div class="col-md-12">
	       <!-- BEGIN PAGE TITLE & BREADCRUMB-->
	       <h3 class="page-title">
	          Pedidos <small>planejados</small>
	       </h3>
	       <ul class="page-breadcrumb breadcrumb">
	          <li>
	             <i class="icon-home"></i>
	             <a href="/">Home</a> 
	             <i class="icon-angle-right"></i>
	          </li>
	          <li>
	             <a href="#">Planejamento de Rota</a>
	          </li>
	       </ul>
	       {%if messages%}
           	{%for message in messages%}
            	<div  class="alert alert-{{message.tags}}">
            		{{ message }}
            	</div>
            {% endfor %}
           {% endif %}
	       <div class="portlet solid blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Melhor rota</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div id="map-canvas" class="gmaps"></div>
                  </div>
               </div>
	       <!-- END PAGE TITLE & BREADCRUMB-->
	    </div>
	 </div>


		{%for address in rotas.addresses%}
			<p>{{ forloop.counter }} - {{address}}</p>
		{%empty%}
			<p>Não há rota a ser planejada</p>
		{%endfor%}
		{{rotas.time}}
		{{rotas.distance}}

	<script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm7rYia73cSfqcl5bBtRsk9fjU-E8B5ak&sensor=false">
     </script>

	<script type="text/javascript">
         function initialize() {        	
         	{%for plano in planejamento%}
         		var myLatlng{{forloop.counter}} = new google.maps.LatLng({{plano.1}},{{plano.2}});
         		var img{{forloop.counter}} = '/PCS2044/static/img/google/iconr{{forloop.counter}}.png';
         	{%endfor%}

         	var mapOptions = {
               zoom: 14,
               center: myLatlng1
            }

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            {%for plano in planejamento%}
            	var marker = new google.maps.Marker({
               		position: myLatlng{{forloop.counter}},
               		icon: img{{forloop.counter}},
               		map: map
               	 });
            {%endfor%}
    
         }

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	{%endblock%}
