{% extends "base.html" %}

{% block title %}Financeiro - Pizza5{% endblock %}

{% block navbar_links %}
<li><a href="{% url 'index' %}">Principal</a></li>
<li class="active"><a href="{% url 'index_financeiro' %}">Financeiro</a></li>
<li><a href="{% url 'index_rh' %}">RH</a></li>
<li><a href="{% url 'index_estoque' %}">Estoque/Compras</a></li>
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {% block sidebar_links %}
        <li><a href="{% url 'entrada_list' %}">Entradas</a></li>
        <li><a href="{% url 'saida_list' %}">Saídas <span class="label label-danger">Novo</span></a></li>
        <li class="disabled"><a href="">Caixa</a></li>
        {% endblock %}
      </ul>
    </div>
{% endblock %}

{% block content %}
<h1 class="page-header">Financeiro</h1>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Maiores Entradas do Mês</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
				    	<tr>
				    		<th>Origem</th>
				    		<th>Valor</th>
				    	</tr>
			    	</thead>
			    	{% for origem in entradas_por_origem %}
			    	<tr>
			    		<td>{{ origem.origem }}</td>
			    		<td>R$ {{ origem.soma }}</td>
			    	</tr>
			    	{% endfor %}
			    </table>
			</div>
		</div>
  	</div>
  	<div class="col-md-6">
  		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Saldo do Mês</h3>
			</div>
			<div class="panel-body">
				<table class="table">
			    	<tr>
			    		<td>Entradas</td>
			    		<td>R$ {{ soma_entradas }}</td>
			    	</tr>
			    	<tr>
			    		<td>Saídas</td>
			    		<td>R$ {{ soma_saidas }}</td>
			    	</tr>
			    	<tbody>
			    		<tr>
			    			<th>Saldo</th>
			    			<th>R$ {{ saldo_do_mes }}</th>
			    		</tr>
		    		</tbody>
			    </table>
			</div>
		</div>
  	</div>
</div>
<div class="row">
  	<div class="col-md-12">
  		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Últimas Entradas</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
				    	<tr>
				    		<th>Valor</th>
				    		<th>Data</th>
				    		<th>Origem</th>
				    		<th></th>
				    	</tr>
			    	</thead>
			    	{% for entrada in ultimas_entradas %}
			    	<tr>
			    		<td>R$ {{ entrada.valor }}</td>
			    		<td>{{ entrada.data_entrada }}</td>
			    		<td>{{ entrada.origem }}</td>
			    		<td></td>
			    	</tr>
			    	{% endfor %}
			    </table>
			</div>
		</div>
  	</div>
</div>
<div class="row">
  	<div class="col-md-12">
  		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Últimas Saídas</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
				    	<tr>
				    		<th>Valor</th>
				    		<th>Data</th>
				    		<th>Origem</th>
				    		<th></th>
				    	</tr>
			    	</thead>
			    	{% for saida in ultimas_saidas %}
			    	<tr>
			    		<td>R$ {{ saida.valor }}</td>
			    		<td>{{ saida.data_saida }}</td>
			    		<td>{{ saida.origem }}</td>
			    		<td></td>
			    	</tr>
			    	{% endfor %}
			    </table>
			</div>
		</div>
  	</div>
</div>

{% endblock %}