{% extends "index_rh.html" %}

{% load staticfiles %}

{% block title %}
	{% if is_detail %}
		Detalhes do Contrato - Pizza5
	{% else %}
		Remover Contrato - Pizza5
	{% endif %}
{% endblock %}


{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/rh/rh_delete.css" %}">
{% endblock %}

{% block content %}
	
	{% if not is_detail %}
		<h1>Remover Contrato</h1>
		<hr>
		<p>Tem certeza que deseja remover esse Contrato ?</p>
	{% else %}
		<h1>Detalhes do Contrato</h1>	
	{% endif %}

	<div class="object-box">
		<div class="field-line">
			<div class="field single-child">	
				<p class="field-label">Id</p>
				{{object.id}}
			</div>
				
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Nome Funcionário</p>
				{{object.funcionario}}
			</div>
			<div class="field">
				<p class="field-label">Cargo</p>
				{{object.cargo}}
			</div>
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Data Contratação</p>
				{{object.data_contratacao}}
			</div>	
			<div class="field">
				<p class="field-label">Status</p>
				{{object.status_contrato}}
			</div>	
		</div>
		<div class="field-line">
			<div class="field">	
				<p class="field-label">Data Demissão</p>
				{{object.data_demissao}}
			</div>	
			<div class="field">
				<p class="field-label">Motivo Demissão</p>
				{{object.motivo_demissao}}
			</div>	
		</div>

	</div>	

	<br>

	{% if is_detail %}
		<a href="{% url 'contratos_list' %}" type="button" class="btn btn-lg btn-success">Voltar</a>
	{% else %}
		<form method="POST">
		{% csrf_token %}
		<input type="submit" value="Remover" class="btn btn-lg btn-danger">
		</form>
	{% endif %}

{% endblock %}