{% extends "index_rh.html" %}
		
		{% load staticfiles %}

		{% block stylesheets %}
			{{ block.super }}

			<link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">
		
		{% endblock %}

		{% block title %}
				Contratos - Pizza5
		{% endblock %}

		{% block content %}

		<div class="above-table">
	    
	    <div class="element title">
		    <h2>Contratos dos Funcionários</h2>
		  </div>  
		  
		  <div class="element">
		    <!-- add -->
		    <a type="button" href="{% url 'contrato_create' %}" class="btn btn-lg btn-success btn-add">
		    	Adicionar
		    </a>
		  </div>
    
    </div>

    <!-- tabela de entradas -->
    <table class="table table-striped table-hover">
    	<tr>
    		<th>Funcionário</th>
    		<th>Cargo</th>
    		<th>Data Contratação</th>
    		<th>Turno</th>
    		<th>Status</th>
    		<th></th>
    	</tr>
        
      {% for contrato in lista_contratos %}
      	<tr>
        	<td>{{ contrato.funcionario }}</td>
        	<td>{{ contrato.cargo }}</td>
        	<td>{{ contrato.data_contratacao }}</td>
        	<td>{{ contrato.turno }}</td>
        	<td>{{ contrato.status_contrato }}</td>
        	<td>
                <!-- detail -->
                <a type="button" class="btn btn-small btn-info" href="{% url 'contrato_detail' contrato.id %}">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
        		<!-- edit -->
        		<a type="button" class="btn btn-small btn-primary" href="{% url 'contrato_update' contrato.id %}">
  					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<!-- delete -->
        		<a type="button" class="btn btn-small btn-danger" href="{% url 'contrato_delete' contrato.id %}">
  					<span class="glyphicon glyphicon-remove"></span>
				</a>
        	</td>
        </tr>	
      {% endfor %}
    
    </table>

    {% endblock %}
