{% extends "base.html" %}
{% load extra_order %}
	{% block content %}
	<div class="row">
            <div class="col-md-12">
               <!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <h3 class="page-title">
                  Pizza <small>nova</small>
               </h3>
               <ul class="page-breadcrumb breadcrumb">
                  <li>
                     <i class="icon-home"></i>
                     <a href="/">Home</a> 
                     <i class="icon-angle-right"></i>
                  </li>
                  <li>
                     <a href="/cardapio/pizza">Cardapio</a>
                     <i class="icon-angle-right"></i>
                  </li>
                  <li><a href="#">Cadastrar Pizza</a></li>
               </ul>
               <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
         </div>
         <div class="tab-content">
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						Cadastrar pizza
					</div>
				</div> 
				<div class="portlet-body form">
					<form method="post" action="{% url 'pizzaCadastrar' %}" class="form-horizontal">
						<div class="form-body">
						{% csrf_token%}
							<div class="form-group">
								<label class="col-md-3 control-label">
									Nome
								</label>
								<div class="col-md-4">
									<input type="text" name="nome" value="" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">
									Tipo de Pizza
								</label>
								<div class="col-md-4">
									<select name="tipoDePizza"/>
										<option value="normal">Normal</option>
										<option value="especial">Especial</option>
										<option value="doce">Doce</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Tamanho da Pizza</label>
								<div class="col-md-4">
									<select name="tamanho"/>
										<option value="G">Grande</option>
										<option value="M">Média</option>
										<option value="P">Pequena</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Preço</label>
								<input type="number" name="preco" step="0.01" min ="0" value="0" /> 
							</div>
							<br>
						</div>
						<div class="form-actions fluid">
                         	<div class="col-md-offset-3 col-md-9">
                             		<button type="submit" class="btn red">Cadastrar</button>                              
                        	</div>
                        </div>
					</form>
				</div>
			</div>
		</div>
		{% endblock %}