{% extends "base.html" %}

{% block title %}Recursos Humanos - Pizza5{% endblock %}

{% block navbar_links %}
<li><a href="{% url 'index' %}">Principal</a></li>
<li><a href="{% url 'index_financeiro' %}">Financeiro</a></li>
<li class="active"><a href="{% url 'index_rh' %}">RH</a></li>
<li><a href="{% url 'index_estoque' %}">Estoque/Compras</a></li>
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {% block sidebar_links %}
        <li><a href="{% url 'funcionarios_list' %}">Funcionários</a></li>
        <li><a href="{% url 'cargos_list' %}">Cargos</a></li>
        <li><a href="{% url 'contratos_list' %}">Contratações </a></li>
        <li><a href="{% url 'ferias_list' %}">Férias <span class="label label-danger">Novo</span></a></li>
        <li><a href="{% url 'licencas_list' %}">Licenças <span class="label label-danger">Novo</span></a></li>
        <li><a href="{% url 'folha_pagamento' %}">Folha de Pagamento <span class="label label-danger">Novo</span></a></li>
        {% endblock %}
      </ul>
    </div>
{% endblock %}

{% block content %}
<h1 class="page-header">Bem Vindo ao setor de RH</h1>
{% endblock %}