{% extends "index_rh.html" %}
		
		{% load staticfiles %}

		{% block stylesheets %}
			{{ block.super }}

			<link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">
		
		{% endblock %}

		{% block title %}
				Cargos existentes na empresa - Pizza5
		{% endblock %}

		{% block content %}

        {% include 'mensagens.html' %}

		<div class="above-table">
	    
	    <div class="element title">
		    <h2>Cargos Profissionais</h2>
		  </div>  
		  
		  <div class="element">
		    <!-- add -->
		    <a type="button" href="{% url 'cargo_create' %}" class="btn btn-lg btn-success btn-add">
		    	Adicionar
		    </a>
		  </div>
    
    </div>

    <!-- tabela de entradas -->
    <table class="table table-striped table-hover">
    	<tr>
    		<th>Nome</th>
    		<th>Nível</th>
    		<th>Salário</th>
    		<th></th>
    	</tr>
        
      {% for cargo in lista_cargos %}
      	<tr>
        	<td>{{ cargo.nome_cargo }}</td>
        	<td>{{ cargo.nivel }}</td>
        	<td>{{ cargo.salario }}</td>
        	<td>
        		<!-- detail -->
                <a type="button" class="btn btn-small btn-info" href="{% url 'cargo_detail' cargo.id %}">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
        		<!-- edit -->
        		<a type="button" class="btn btn-small btn-primary" href="{% url 'cargo_update' cargo.id %}" data-toggle="tooltip" data-placement="top" title="Editar">
  					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<!-- delete -->
        		<a type="button" class="btn btn-small btn-danger" href="{% url 'cargo_delete' cargo.id %}" data-toggle="tooltip" data-placement="top" title="Remover">
  					<span class="glyphicon glyphicon-remove"></span>
				</a>
        	</td>
        </tr>	
      {% endfor %}
    
    </table>

    {% endblock %}
