{% extends "index_financeiro.html" %}
		
		{% load staticfiles %}

		{% block stylesheets %}
			{{ block.super }}

			<link href="{% static "css/financeiro/entradas_list.css" %}" rel="stylesheet">
		
		{% endblock %}

		{% block title %}
				Saídas Financeiras - Pizza5
		{% endblock %}

		{% block content %}

        {% include 'mensagens.html' %}

		<div class="above-table">
	    
	    <div class="element title">
		    <h2>Saídas</h2>
		  </div>  
		  
		  <div class="element">
		    <!-- add -->
		    <a type="button" href="{% url 'saida_create' %}" class="btn btn-lg btn-success btn-add">
		    	Adicionar
		    </a>
		  </div>
    
    </div>

    <!-- tabela de saidas -->
    <table class="table table-striped table-hover">
    	<tr>
    		<th>Valor</th>
    		<th>Data</th>
    		<th>Destino</th>
    		<th></th>
    	</tr>
        
      {% for saida in lista_saidas %}
      	<tr>
        	<td>{{ saida.valor }}</td>
        	<td>{{ saida.data_saida }}</td>
        	<td>{{ saida.destino }}</td>
        	<td>
                <!-- detail -->
                <a type="button" class="btn btn-small btn-info" href="{% url 'saida_detail' saida.id %}" data-toggle="tooltip" data-placement="top" title="Detalhes">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
        		<!-- edit -->
        		<a type="button" class="btn btn-small btn-primary" href="{% url 'saida_update' saida.id %}" data-toggle="tooltip" data-placement="top" title="Editar">
  					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<!-- delete -->
        		<a type="button" class="btn btn-small btn-danger" href="{% url 'saida_delete' saida.id %}" data-toggle="tooltip" data-placement="top" title="Remover">
  					<span class="glyphicon glyphicon-remove"></span>
				</a>
        	</td>
        </tr>	
      {% endfor %}
    
    </table>

    {% endblock %}

